services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    ports:
      - "5440:5432"
    environment:
      POSTGRES_DB: go_api_server
      POSTGRES_USER: root
      POSTGRES_PASSWORD: asdf1234
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U root -d go_api_server" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
